 <!-- Overview Popup    -->
<div id="productModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade overview">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="icon-close"></i></span></button>
            <div class="modal-body">
                <div class="row d-flex align-items-center">
                    <div class="image col-lg-5">
                        <img id="modal-product-image" src="img/shirt.png" alt="..." class="img-fluid d-block">
                    </div>
                    <div class="details col-lg-7">
                        <h2 id="modal-product-name">Lose Oversized Shirt</h2>
                        <ul class="price list-inline">
                            <li class="list-inline-item current" id="modal-product-price">$65.00</li>
                        </ul>
                        <p id="modal-product-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="quantity d-flex align-items-center">
                                <div class="dec-btn">-</div>
                                <input type="text" value="1" class="quantity-no">
                                <div class="inc-btn">+</div>
                            </div>
                        </div>
                        <ul class="CTAs list-inline">
                            <li class="list-inline-item"><a href="#" class="btn btn-template wide add-to-cart"> <i class="fa fa-shopping-cart"></i>Carrinho</a></li>
                            <li class="list-inline-item"><a href="#" class="visit-product active btn btn-template-outlined wide"> <i class="icon-heart"></i>Lista de desejos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
