@model SexyUp.Web.ViewModels.Home.HomeViewModel
@Html.Partial("_Logotipo")


@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <div>
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="input-group">
                    @Html.TextBoxFor(c => c.SearchTerm, new { @class = "form-control" })
                    <div class="input-group-append">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}