@model bool?

    <div class="col-lg-4">
        <div class="block-body order-summary">
            <h6 class="text-uppercase">Resumo do pedido</h6>
            <ul class="order-menu list-unstyled">
                <li class="d-flex justify-content-between">
                    <span>Subtotal </span><strong id="subtotal">R$ 0.00</strong>
                </li>
                <li class="d-flex justify-content-between">
                    <span>Frete</span><strong>R$ 20.00</strong>
                </li>
                <li class="d-flex justify-content-between">
                    <span>Total</span><strong class="text-primary price-total" id="price-total">R$ 0.00</strong>
                </li>
            </ul>
        </div>

        @if (Model != null && (bool)Model)
        {
            <div class="block-body">
                <p>Se você tem um cupom, por favor insira-o no campo abaixo</p>
                <div class="form-group d-flex">
                    <input type="text" name="coupon" id="coupon">
                    <button type="button" class="cart-black-button btn-coupon">Aplicar coupon</button>
                </div>
            </div>
        }
    </div>
