/* your styles go here */

.btn-no-style {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.form-pointer {
    cursor: pointer;
}

.pagination-custom span.page-link {
    min-width: 40px;
    padding: 0 15px;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    color: #333;
    font-weight: 400;
    border-radius: 0 !important;
}

.img-product {
    max-height: 170px;
}
