
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row col-lg-8 m-auto">
        <input type="text" id="search-place" placeholder="Digite um endereço" value="" class="form-control" />
    </div>
    <hr class="invisible" />
    <div id="map">

    </div>
</div>
@section Styles{
    <style>
        #map {
            height: 100%;
        }
    </style>
}
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQh0DXhCrWMTR_56suGEE4dIcBA4gnbzU&libraries=places&callback=initMap" defer></script>
    <script src="~/Scripts/app/GoogleMaps/lojasProximas.js"></script>
}

