<div>
    <div class="row">
        <div class="col-lg-4 offset-4">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/img/logotipo.png")" class="img-fluid" alt="Sexy Up logo" />
            </a>
        </div>
    </div>

    <hr class="invisible" />
</div>
