<div>
    <div class="row">
        <div class="col-xl-3 col-md-5 m-auto">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/img/logotipo_service.png")" class="img-fluid" alt="Sexy Up logo" />
            </a>
        </div>

    </div>
</div>
