<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <!-- Navbar Collapse -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a id="navbarHomeLink" href="@Url.Action("Index", "Home")" aria-haspopup="true" aria-expanded="false" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Lojas próximas</a>
                    </li>
                </ul>
                <div class="right-col d-flex align-items-lg-center flex-column flex-lg-row">
                    <!-- User Not Logged - link to login page-->
                    <div class="user"> <a id="userdetails" href="@Url.Action("Login", "Account")" class="user-link"><i class="icon-profile">                   </i></a></div>

                    <!-- Cart Dropdown-->
                    <div class="cart dropdown show">
                        <a id="cartdetails" href="https://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <i class="icon-cart"></i>
                            <div class="cart-no">1</div>
                        </a>
                        <a href="cart.html" class="text-primary view-cart">View Cart</a>
                        <div aria-labelledby="cartdetails" class="dropdown-menu">
                            <!-- cart item-->
                            <div class="dropdown-item cart-product">
                                <div class="d-flex align-items-center">
                                    <div class="img"><img src="img/hoodie-man-1.png" alt="..." class="img-fluid"></div>
                                    <div class="details d-flex justify-content-between">
                                        <div class="text"> <a href="#"><strong>Heather Gray Hoodie</strong></a><small>Quantity: 1 </small><span class="price">$75.00 </span></div><a href="#" class="delete"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- total price-->
                            <div class="dropdown-item total-price d-flex justify-content-between"><span>Total</span><strong class="text-primary">$75.00</strong></div>
                            <!-- call to actions-->
                            <div class="dropdown-item CTA d-flex"><a href="cart.html" class="btn btn-template wide">View Cart</a><a href="checkout1.html" class="btn btn-template wide">Checkout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>